<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
    <script src="all.js"></script>
    <!--referencias a los archivos de javascript -->
   <link rel="stylesheet" href="stilo.css">
   <!--  referencias a el estilo css -->
  </head>
  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl">  <!-- llamando una clase en css y la funcio en javascript -->
      <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>  <!-- funcion 
      hecha en javacript la funcion que realiza es un contador de los objetos que ha introducido -->
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done"/>
          <span class="done-{{todo.done}}">{{todo.text}}</span>  <!-- mostrar los datos de texto en el 
          documento  -->
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
          <!-- crear un boton en donde pueda añadir texto al documento -->
      </form>
      
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
        <!-- creacion de un boton para completar el listado -->
    </div>
  </body>
  
</html>